<!-- CONTACT -->
<div class="la-contact">
  <h1 class="la-contact__title">Contact us</h1>
  <h2 class="la-contact__title la-contact__title--to-background la-contact__title--to-center">Contact us</h2>
  <h3 class="la-contact__description la-contact__description--to-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s</h3>
</div>
<!-- <h1 class="la-contact__title">Get an stimate in 7 days</h1> -->
<div class="la-contact__container">
  <div class="la-contact__block">
    <div class="la-contact__side">
      <label class="la-contact__txt">Name & Surname</label>
      <input type="text" value="Example example" class="la-contact__input" />
      <label class="la-contact__txt">Email</label>
      <input type="text" value="example@host.com" class="la-contact__input" />
      <label class="la-contact__txt">Message</label>
      <textarea class="la-contact__textarea">Hi people! How are you? </textarea>
    </div>
    <div class="la-contact__side">
      <form action="" method="post" class="la-contact__form">
        <fieldset class="la-contact__field">
          <legend class="la-contact__description la-contact__description--blue la-contact__description--to-left"> What is the device of your project? </legend>
          <label class="la-contact__label">
            <div class="la-contact__content">
              <span class="la-contact__option">Web</span>
              <input type="radio" name="web" value="web" class="la-contact__radio">
            </div>
          </label>
          <label class="la-contact__label">
            <div class="la-contact__content">
              <span class="la-contact__option">Desktop</span>
              <input type="radio" name="desktop" value="desktop" class="la-contact__radio">
            </div>
          </label>
          <label class="la-contact__label">
            <div class="la-contact__content">
              <span class="la-contact__option">Mobile</span>
              <input type="radio" name="mobile" value="mobile" class="la-contact__radio">
            </div>
          </label>
        </fieldset>
        <fieldset class="la-contact__field">
          <legend class="la-contact__description la-contact__description--blue la-contact__description--to-left"> What is the scope of your project?</legend>
          <label class="la-contact__label">
            <div class="la-contact__content">
              <span class="la-contact__option">Frontend</span>
              <input type="radio" name="web" value="web" class="la-contact__radio">
            </div>
          </label>
          <label class="la-contact__label">
            <div class="la-contact__content">
              <span class="la-contact__option">Backend</span>
              <input type="radio" name="desktop" value="desktop" class="la-contact__radio">
            </div>
          </label>
          <label class="la-contact__label">
            <div class="la-contact__content">
              <span class="la-contact__option">Design</span>
              <input type="radio" name="mobile" value="mobile" class="la-contact__radio">
            </div>
          </label>
        </fieldset>
        <div class="la-contact__container-bottom">
          <button class="la-contact__button">
            <span class="hide-accessible">Siguiente</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>