<div class="row">
  <div class="container">
    <!-- CONTACT -->
    <div class="col-xs-7">
      <div class="la-contact">
        <h1 class="la-contact__title">Contact us</h1>
        <h2 class="la-contact__title la-contact__title--to-background">Contact us</h2>
        <h3 class="la-contact__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s</h3>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="la-contact__block">
        <h1 class="la-contact__title">Get an stimate in 7 days</h1>
        <div class="la-contact__container">
          <form action="" method="post" class="la-contact__form">
            <fieldset class="la-contact__field">
              <legend class="la-contact__description"> What is the device of your project? </legend>
              <label>
              <span class="la-contact__option">Web</span>
              <input type="radio" name="web" value="web" class="la-contact__radio">
            </label>
              <label>
              <span class="la-contact__option">Desktop</span>
              <input type="radio" name="desktop" value="desktop" class="la-contact__radio">
            </label>
              <label>
              <span class="la-contact__option">Mobile</span>
              <input type="radio" name="mobile" value="mobile" class="la-contact__radio">
            </label>
            </fieldset>
            <fieldset class="la-contact__field">
              <legend class="la-contact__description"> What is the scope of your project?</legend>
              <label>
              <span class="la-contact__option">Frontend</span>
              <input type="radio" name="web" value="web" class="la-contact__radio">
            </label>
              <label>
              <span class="la-contact__option">Backend</span>
              <input type="radio" name="desktop" value="desktop" class="la-contact__radio">
            </label>
              <label>
              <span class="la-contact__option">Design</span>
              <input type="radio" name="mobile" value="mobile" class="la-contact__radio">
            </label>
            </fieldset>
            <div class="la-contact__container-bottom">
              <button class="la-contact__button">
                <span class="hide-accessible">Siguiente</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>