
.la-contact{
    margin-left: 20px;
    position: relative;
    z-index: 2;
    &__title{
        color: #47a6ff;
        font-family: 'Quicksand', sans-serif;
        position: relative;
        &--to-background{
            opacity: .03;
            font-weight: 800;
            font-size: 140px;
            margin: 0;
            color: #444444;
            position: absolute;
            font-family: 'Quicksand', sans-serif;
            top: 0;
            padding: 0;
            line-height: 184px;
            z-index: -1;
        }
    }
    &__description{
        color:#888888;
        font-family: 'Quicksand', sans-serif;
        font-size:18px;
    }
    &__radio{
        display:none;
    }
    &__field{
        border:0;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    &__block{
        background:#ffffff;
        margin-top: -20px;
        width:352px;
        z-index: 2;
        position: relative;
        margin: 0 auto;
        display:block;
        padding-left:20px;
        padding-top: 20px;
        padding-right:20px;
        padding-bottom:20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    
    &__option {
        display:inline-block;
        width:80px;
        text-transform: uppercase;
        height:80px;
        padding-top:32px;
        font-family: 'Quicksand', sans-serif;
        border-radius: 50%;
        font-weight: 600;
        font-size:12px;
        text-align: center;
        background:#47a6ff;
        color:#ffffff;
        cursor:pointer;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.10);
        margin-left: 10px;
        &:hover{
            background-color:#ffffff;
            color:#47a6ff;
        }
    }
    &__container-bottom{
        display:block;
        position:absolute;
        bottom:-10px;
        right:0;
    }
    &__button{
        display: block;
        box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
        background:#aaaaaa;
        color:#666666;
        border:0;
        padding:10px;
        width:65px;
        height:65px;
        border-radius: 50%;
        &::after{
            font-family: FontAwesome;
            content:'\f054';
            color:#666666;
        }
        &:hover{
            background:#47a6ff;
            .la-contact__button::after{
                color:#ffffff;
            }
        }
    }
}

@media (max-width: 755px){
    .col-xs-6{
        width:100%;
    }
}