<div class="la-portfolio">
  <div class="la-portfolio__container">
    <!-- ITEM -->
    <ul class="la-portfolio__list">
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>

    </ul>
  </div>
</div>