.la-portfolio{
    overflow: hidden;
    &__container{
        position: relative;
        display: block;
        width:100%;
        margin:0;
    }
    &__list{
        width:inherit;
        list-style: none;
        margin:0;
        padding:0;
        white-space: nowrap;
        overflow-y:hidden;
        overflow-x: scroll; 
        font-size: 0;
    }
    &__item{
        width:300px;
        display: inline-block;
        margin-top:0;
        margin-left: 0;
        margin-bottom: 30px;
        margin-right: 0;
        padding:0;
        position: relative;
        background:#47a6ff;
    }
    &__container{
        position: relative;
        display:table;
        width:100%;
        min-height: 200px;
    }
    &__txt{
        color:#fff;
        width:100%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        height: inherit;
        font-size:18px;
    }
}