<div class="la-portfolio">
  <h1 class="la-portfolio__title">Portfolio</h1>
  <h2 class="la-portfolio__title la-portfolio__title--to-background">Portfolio</h2>
  <div class="la-portfolio__container">
    <!-- ITEM -->
    <ul class="la-portfolio__list">
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 1</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 2</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 3</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 4</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 5</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 6</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 7</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 8</span>
        </div>
      </li>
      <li class="la-portfolio__item">
        <div class="la-portfolio__content">
          <span class="la-portfolio__txt">ITEM 9</span>
        </div>
      </li>
    </ul>
  </div>
</div>