<div class="la-about">
      <h1 class="la-about__title">About us</h1>
      <h2 class="la-about__title la-about__title--to-background">About us</h2>
      <div class="la-about__container">
        <div class="la-about__profile">
          <div class="la-about__content">
            <figure class="la-about__figure">
              <img src="" alt="" class="la-about__image" />
            </figure>
            <div class="la-about__description">
              <span class="la-about__txt la-about__txt--bold la-about__txt--bigger">Adri&aacute;n P&eacute;rez Castillo</span>
              <span class="la-about__txt">Desarrollador Frontend</span>
            </div>
          </div>
        </div>
        <div class="la-about__profile">
          <div class="la-about__content">
            <figure class="la-about__figure">
              <img src="" alt="" class="la-about__image" />
            </figure>
            <div class="la-about__description">
              <span class="la-about__txt la-about__txt--bold la-about__txt--bigger">Antonio Ayala G&oacute;mez</span>
              <span class="la-about__txt">Marketing</span>
            </div>
          </div>
        </div>
        <div class="la-about__profile">
          <div class="la-about__content">
            <figure class="la-about__figure">
              <img src="" alt="" class="la-about__image" />
            </figure>
            <div class="la-about__description">
              <span class="la-about__txt la-about__txt--bold la-about__txt--bigger">Juan Bermudez Roldan</span>
              <span class="la-about__txt">Desarrollador Backend</span>
            </div>
          </div>
        </div>

      </div>
    </div>