.la-header{
    display:block;
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height: 100px;

    &__block{
        display:inline-block;
        width:49%;
        vertical-align: middle;
    }
    &__list{
        display:block;
        &--txt-right{
            text-align: right;
        }
    }
    &__item{
        display:inline-block;
        color:#ffffff;
        padding-right: 10px;
    }
    &__logo{
        display: inline-block;
        vertical-align: top;
    }
    &__figure{
        width:50px;
        height:50px;
        margin-right: 10px;
    }
    &__image{
        width:100%;
        height: 100%;
        display: block;
        background-color:#fff;
    }
    &__brand{
        display:inline-block;
    }
    &__txt{
        color:#ffffff;
        font-weight: 800;
    }
}