<div class="la-header">
  <div class="la-header__block">
    <a href="#" title="Logo principal" class="la-header__link">
      <div class="la-header__logo">
        <figure class="la-header__figure">
          <img src="#" alt="" class="la-header__image" />
        </figure>
      </div>
      <div class="la-header__brand">
        <h1 class="la-header__txt">Bluggie</h1>
        <h2 class="la-header__txt la-header__txt--small">Lorem Ipsum is simply dummy text of the printing</h2>
      </div>
    </a>
  </div>
  <div class="la-header__block">
    <ul class="la-header__list la-header__list--txt-right">
      <li class="la-header__item">
        <a href="#" title="" class="la-header__link">ITEM</a>
      </li>
      <li class="la-header__item">
        <a href="#" title="" class="la-header__link">ITEM</a>
      </li>
      <li class="la-header__item">
        <a href="#" title="" class="la-header__link">ITEM</a>
      </li>
      <li class="la-header__item">
        <a href="#" title="" class="la-header__link">ITEM</a>
      </li>
    </ul>
  </div>
</div>