<div class="la-header">
  <div class="la-header__block">
    <div class="la-header__logo">
      <figure class="la-header__figure">
        <img src="#" alt="" class="la-header__image" />
      </figure>
    </div>
    <div class="la-header__brand">
      <h1 class="la-header__txt">Company</h1>
    </div>
  </div>
  <div class="la-header__block">
    <ul class="la-header__list la-header__list--txt-right">
      <li class="la-header__item">Presentaci&oacute;n</li>
      <li class="la-header__item">Sobre nosotros</li>
      <li class="la-header__item">¿Que hacemos?</li>
      <li class="la-header__item">Proyectos</li>
      <li class="la-header__item">Contacto</li>
    </ul>
  </div>
</div>