<div class="la-home">
  <div class="la-home__block">
    <h1 class="la-home__title">bluggie</h1>
    <h2 class="la-home__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </h2>
  </div>
  <div class="row" style="-webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);">
    <div class="wrapper">
      <div style="margin-top:90px;" class="col-xs-12">
        <div class="col-xs-4">
          <div class="la-aptitude">
            <div class="la-aptitude__container">
              <span class="fa fa-send la-aptitude__icon"></span>
              <span class="la-aptitude__title">Graphics Design</span>
              <span class="la-aptitude__description">There are many variations of passages of Lorm avariable, bu in some form</span>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="la-aptitude">
            <div class="la-aptitude__container la-aptitude__container--active">
              <span class="fa fa-send la-aptitude__icon"></span>
              <span class="la-aptitude__title">Graphics Design</span>
              <span class="la-aptitude__description">There are many variations of passages of Lorm avariable, bu in some form</span>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="la-aptitude">
            <div class="la-aptitude__container">
              <span class="fa fa-send la-aptitude__icon"></span>
              <span class="la-aptitude__title">Graphics Design</span>
              <span class="la-aptitude__description">There are many variations of passages of Lorm avariable, bu in some form</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrapper">
    <!-- DETAILS -->
    <div class="la-details">
      <h1 class="la-details__title">Branding design</h1>
      <h2 class="la-details__title la-details__title--to-background">Branding design</h2>
      <div class="la-details__container">
        <div class="la-details__block">
          <figure class="la-details__figure">
            <img src="" alt="" class="la-details__image" />
          </figure>
        </div>
        <div class="la-details__block">
          <h1 class="la-details__head">Title of product</h1>
          <span class="la-details__subhead">Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem
Ipsum has been the industry's standard
dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <!-- ABOUT US -->
    <div class="la-about">
      <h1 class="la-about__title">About us</h1>
      <h2 class="la-about__title la-about__title--to-background">About us</h2>
      <div class="la-about__container">
        <div class="la-about__profile">
          <div class="la-about__content">
            <figure class="la-about__figure">
              <img src="" alt="" class="la-about__image" />
            </figure>
          </div>
        </div>
        <div class="la-about__profile">
          <div class="la-about__content">
            <figure class="la-about__figure">
              <img src="" alt="" class="la-about__image" />
            </figure>
          </div>
        </div>
        <div class="la-about__profile">
          <div class="la-about__content">
            <figure class="la-about__figure">
              <img src="" alt="" class="la-about__image" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="la-blog">
  <div class="col-xs-6">
    <div class="la-blog__container" style="position:relative;padding-left:28.4%">
      <h1 class="la-blog__title">Blogging</h1>
      <h2 class="la-blog__title la-blog__title--to-background">Blogging</h2>
      <h3 class="la-blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s</h3>
    </div>
  </div>
  <div class="col-xs-6" style="padding-right:0;">
    <div class="la-blog__slide" style="position:relative;vertical-align:top;z-index:999;margin-left: 23px;">
      <ul style=" list-style-type:none;white-space:nowrap;overflow-x:auto;padding-bottom:30px;">
        <li style="position:relative;display:inline-block;width:280px;height:400px;padding-left:10px;padding-right:10px;">
          <div style="background-color:#ffffff;width:100%;height:100%;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);"></div>
        </li>
        <li style="position:relative;display:inline-block;width:280px;height:400px;padding-left:10px;padding-right:10px;">
          <div style="background-color:#ffffff;width:100%;height:100%;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);"></div>
        </li>
        <li style="position:relative;display:inline-block;width:280px;height:400px;padding-left:10px;padding-right:10px;">
          <div style="background-color:#ffffff;width:100%;height:100%;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrapper">
    <!-- CONTACT -->
    <div class="col-xs-7">
      <div class="la-contact">
        <h1 class="la-contact__title">Contact us</h1>
        <h2 class="la-contact__title la-contact__title--to-background">Contact us</h2>
        <h3 class="la-contact__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s</h3>
      </div>
    </div>
    <div class="col-xs-5">
      <h1 class="la-contact__title">Get an stimate in 7 days</h1>
      <div class="la-contact__container">
        <form action="" method="" class="la-contact__form">
          <fieldset class="la-contact__field">
            <legend class="la-contact__description"> What is the device of your project? </legend>
            <label>
              <span class="la-contact__option">Web</span>
              <input type="radio" name="web" value="web" class="la-contact__radio">
            </label>
            <label>
              <span class="la-contact__option">Desktop</span>
              <input type="radio" name="desktop" value="desktop" class="la-contact__radio">
            </label>
            <label>
              <span class="la-contact__option">Mobile</span>
              <input type="radio" name="mobile" value="mobile" class="la-contact__radio">
            </label>
          </fieldset>

          <fieldset class="la-contact__field">
            <legend class="la-contact__description"> What is the scope of your project?</legend>
            <label>
              <span class="la-contact__option">Frontend</span>
              <input type="radio" name="web" value="web" class="la-contact__radio">
            </label>
            <label>
              <span class="la-contact__option">Backend</span>
              <input type="radio" name="desktop" value="desktop" class="la-contact__radio">
            </label>
            <label>
              <span class="la-contact__option">Design</span>
              <input type="radio" name="mobile" value="mobile" class="la-contact__radio">
            </label>
          </fieldset>


        </form>

      </div>
    </div>
  </div>
</div>