<div class="la-home">
  <app-header></app-header> 
  <div class="la-home__block">
    <h1 class="la-home__title">bluggie</h1>
    <h2 class="la-home__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </h2>
    <ul class="la-home__list">
      <li class="la-home__item">
        <a href="#" title="Enlace">
          <span class="hide-accessible">Primer slider</span>
        </a>
      </li>
      <li class="la-home__item la-home__item--inactive">
        <a href="#" title="Enlace">
          <span class="hide-accessible">Primer slider</span>
        </a>
      </li>
      <li class="la-home__item la-home__item--inactive">
        <a href="#" title="Enlace">
          <span class="hide-accessible">Primer slider</span>
        </a>
      </li>
    </ul>
  </div>
  <!--APPTITUDE-->
  <app-aptitude></app-aptitude>
</div>
<div class="row">
  <div class="container">
    <!-- DETAILS -->
    <app-details></app-details>
    <!-- ABOUT US -->
    <app-about></app-about>
  </div>
</div>
<!-- BLOG-->
<app-blog></app-blog>
<!-- CONTACT-->
<app-contact></app-contact>
<footer class="la-footer">
  <span class="la-footer__txt">Bluggie &copy; 2017</span>
</footer>