.la-home{
    width:100%;
    min-height: 450px;
    position: relative;
    margin-top:-139px;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    padding-top: 180px;
    &::before{
        content: '';
        background:rgba(71,166,255, .85);
        width:100%;
        position: absolute;
        top:0;
        z-index: 0;
        height: 100%;    
    }
    &__wall{
        z-index: -1;
        position: absolute;
        top:0;
        width:100%;
        height: 100%;
        background:url('https://images.unsplash.com/photo-1505624198937-c704aff72608?w=1500');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    &__list{
        position:absolute;
        right:20px;
        top:40%;
        z-index: 9999;
        list-style:none;
    }
    &__item{
        font-size:30px;
        color:#ffffff;
        border-left:3px solid #ffffff;
        height:30px;
        width:3px;
        margin-bottom:25px;
        cursor:pointer;
        &--inactive{
            border-left: 3px solid rgba(255,255,255,.8);
        }
        &:hover{
            border-left:3px solid #ffffff;
        }
    }
    &__block{
        width:100%;
        padding-left: 40px;
        padding-right: 40px;
        -webkit-transform: skew(0deg, 10deg);
        transform: skew(0deg, 10deg);
        text-align: center;
    }
    &__title{
        color:#ffffff;
        display:block;
        font-family: 'Quicksand', sans-serif;
        font-size:4em;
        padding-top: 50px;
        margin-bottom: 0;
    }
    &__subtitle{
        color:#ffffff;
        font-style: normal;
        font-weight: 200;
        font-family: 'Quicksand', sans-serif;
        display:block;
        margin-top: 0;
        font-size: 20px;
    }
}

.la-description{
    margin-top:80px;
    float:right;
    width:70%;
    margin-bottom: 80px;

    &__block{
        max-width: 32%;
        display: inline-block;
        text-align: center;
        font-size: 0;
        border-right: 1px solid #ddd;
    }
    &__title{
        display:block;
        font-size: 18px;
        font-weight: 800;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 5px;
    }
    &__icon{
        display:block;
        margin-bottom: 5px;
        font-size:30px;
    }
    &__subtitle{
        display: block;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
    }
}


.la-footer{
    background:#47a6ff;
    min-height: 45px;
    display: block;
    position: relative;
    width:100%;
    float:left;
    &__txt{
        font-family: 'Quicksand', sans-serif;
        color:#ffffff;
        font-weight: 600;
        display:block;
        text-align: right;
        padding-right:30px;
        padding-top: 13px;
    }
}