/*
    BOX APTITUDE
*/

.la-aptitude{
    width:70%;
    margin:0 auto;
    padding-left: 10px;
    &__content{
    position:relative;
    display:inline-block;
    text-align:center;
    padding-top: 65px;
    width:33.33%;
    display:inline-block;
    padding-right:10px;
    vertical-align:top;
    &:hover{
        .la-aptitude__container{
            background:#47a6ff !important;
            cursor: pointer;
            color:#ffffff;
        }
        .la-aptitude__title, .la-aptitude__icon{
            color:#ffffff;
        }
        .la-aptitude__container--active:before{
            background-color:#ffffff;
            color:#47a6ff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.13);
        }
        .la-aptitude__icon{
            filter: brightness(100%);
            filter: brightness(50%);
            -webkit-filter: brightness(100);
            -moz-filter: brightness(50%);
            -o-filter: brightness(50%);
            -ms-filter: brightness(50%);
        }
    }
    }
    &__container{
        padding:30px;
        // max-width:320px;
        background-color:#ffffff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        min-height:300px;
        margin:0 auto;
        display:block;
        &--active{
            border-bottom: 5px solid #47a6ff;
            &:before{
                font-family: FontAwesome;
                content: "\f107";
                position: absolute;
                background-color: #47a6ff;
                width: 50px;
                color:#ffffff;
                font-size:30px;
                padding-top: 3px;
                border-radius: 50%;
                height: 50px;
                display: block;
                bottom: -23px;
                right: 40%;
            }
        }
    }
    &__icon{
        width:100%;
        height: 100%;
        color:#47a6ff;
    }
    &__title{
        color:#222222;
        display:block;
        margin-bottom:10px;
        font-weight: 800;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
    }
    &__figure{
        width:80px;
        text-align: center;
        margin:0 auto 30px;
        display:block;
    }
    &__description{
        font-family: 'Quicksand', sans-serif;
    }

}

@media (max-width: 958px) {
    .la-aptitude{
        width:100%;
    }
}
@media (max-width:560px) {
    .la-aptitude{
        &__container{
            min-height: 250px;
            &:before{
                content:none;
            }
            &--active{
                background:#47a6ff;
                .la-aptitude{
                    &__icon, &__title, &__description{
                        color:#ffffff;
                    }
            }

            }
        }
        &__content{
            padding-top: 10px;
            width:100%;
        }
    }
}