<div class="row re-init">
  <div class="container">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <div class="la-aptitude">
          <div class="la-aptitude__container">
            <span class="fa fa-send la-aptitude__icon"></span>
            <span class="la-aptitude__title">Graphics Design</span>
            <span class="la-aptitude__description">There are many variations of passages of Lorm avariable, bu in some form</span>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="la-aptitude">
          <div class="la-aptitude__container la-aptitude__container--active">
            <span class="fa fa-send la-aptitude__icon"></span>
            <span class="la-aptitude__title">Graphics Design</span>
            <span class="la-aptitude__description">There are many variations of passages of Lorm avariable, bu in some form</span>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="la-aptitude">
          <div class="la-aptitude__container">
            <span class="fa fa-send la-aptitude__icon"></span>
            <span class="la-aptitude__title">Graphics Design</span>
            <span class="la-aptitude__description">There are many variations of passages of Lorm avariable, bu in some form</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>