
.la-details{
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    position:relative;
    overflow-x:hidden;
    text-align:center;
    z-index: 2;
    
    &__container{
        width:100%;
    }
    &__list{
        display:block;
        width:100%;
        list-style: none;
        margin:0 auto;
        text-align: center;
        padding-top:30px;
    }
    &__item{
        display:inline-block;
        width:30px;
        cursor:pointer;
        height:2px;
        margin-right:10px;
        padding-top:20px;
        padding-bottom: 20px;
        border-bottom: 3px solid #47a6ff;
        &--inactive{
            border-bottom: 3px solid rgba(80,80,80,.6);
        }
        &:hover{
            border-bottom: 3px solid #47a6ff;
        }
    }
    &__list{
        display:block;
    }
    &__head{
        color:#666666;
        padding:0;
        font-family: 'Quicksand', sans-serif;
        margin:0;
        font-size: 30px;
        font-weight: 800;
    }
    &__list-services{
        padding-left:45px;
        margin:0;
        display:block;
        width:100%;
        text-align:center;
        margin-bottom:30px;
        &__item{
            display:inline-block;
            padding-right:20px;
            padding-left: 20px;
            font-size:22px;
            border-right: 1px solid #dddddd;
            color:#666666;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                border-right: 0;
            }
        }
    }
    &__subhead{
        color:#888888;
        font-family: 'Quicksand', sans-serif;
        font-size:18px;
    }
    &__title{
        margin-bottom: 0;
        color:#47a6ff;
        display: block;
        font-family: 'Quicksand', sans-serif;
        &--to-background{
            opacity: .03;
            font-weight: 800;
            overflow-x: hidden;
            font-size: 140px;
            margin: 0;
            color: #444444;
            position: absolute;
            top: 0;
            padding: 0;
            line-height: 184px;
            z-index: -1;
        }
    }
    &__figure{
        width:250px;
        min-height: 250px;
        display:inline-block;
        background:#47a6ff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.13);
    }
    &__image{
        width:100%;
        display:block;
    }

    &__link{
        color:#47a6ff;
    }
}


@media (max-width: 650px) {
    .la-details{
        &__block{
            width:100% !important;
            text-align: center;
            &:last-child{
                padding-left: 0;
                padding-top: 30px;
            }
        }
        &__figure{
            display:block;
            margin:0 auto;
        }
    }
}