<div class="la-details">
  <ul class="la-details__list-services">
    <li class="la-details__list-services__item">Dise&ntilde;o Web</li>
    <li class="la-details__list-services__item">Mantenimiento Web</li>
    <li class="la-details__list-services__item">Programacion Web</li>
  </ul>
  <div class="la-details__container">
    <div class="la-details__block">
      <figure class="la-details__figure">
        <img src="" alt="" class="la-details__image" />
      </figure>
    </div>
    <div class="la-details__block">
      <h1 class="la-details__title">Web design</h1>
      <span class="la-details__subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s</span>
    </div>
  </div>
</div>