<div class="la-details">
      <h1 class="la-details__title">Web design</h1>
      <h2 class="la-details__title la-details__title--to-background">Branding design</h2>
      <div class="la-details__container">
        <div class="la-details__block">
          <figure class="la-details__figure">
            <img src="" alt="" class="la-details__image" />
          </figure>
        </div>
        <div class="la-details__block">
          <h1 class="la-details__head">Where the magic happens</h1>
          <span class="la-details__subhead">Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem
Ipsum has been the industry's standard
dummy text ever since the 1500s</span>
        </div>
      </div>
      <ul class="la-details__list">
        <li class="la-details__item la-details__item--inactive">
          <a href="#" title="Enlace" class="la-details__link">
            <span class="hide-accessible">Primer slider</span>
          </a>
        </li>
        <li class="la-details__item">
          <a href="#" title="Enlace" class="la-details__link">
            <span class="hide-accessible">Primer slider</span>
          </a>
        </li>
        <li class="la-details__item la-details__item--inactive">
          <a href="#" title="Enlace" class="la-details__link">
            <span class="hide-accessible">Primer slider</span>
          </a>
        </li>
      </ul>
    </div>