<div class="la-blog">
    <div class="la-blog__slide">
      <div class="la-blog__container">
        <h1 class="la-blog__title">Blogging</h1>
        <h2 class="la-blog__title la-blog__title--to-background">Blogging</h2>
        <h3 class="la-blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s</h3>
      </div>
    </div>
      <div class="la-blog__slide no-padding-r">
        <ul class="la-blog__list">
          <li class="la-blog__item">
            <div class="la-blog__content"></div>
          </li>
          <li class="la-blog__item">
            <div class="la-blog__content"></div>
          </li>
          <li class="la-blog__item">
            <div class="la-blog__content"></div>
          </li>
        </ul>
      </div>
    </div>
  